.footer-content{
    background-color: black;
    height: 60px;
    width:100%;
    bottom:0;
    left:0;
    position: relative;
    margin-bottom:0px;
    margin-top:10px;
    padding-top:3px;
}
.footer-content p{
    text-align: center;
    font-size: 16px;
    color:white;
    margin:0px;
    padding:1px;
}
.search-footer-content{
    margin-top:21%;
    margin-bottom:0px;
    width:100%;
}