.about-content img{
    margin-left:33%;

}
.about-content h1{
    text-align: center;
    color:blue;
    margin-top:15px;
}
.info-general-content{
    display: flex;
    margin-left:19%;
}
.info-c1{
    width:250px;
    max-height:180px;
    background-color: orange;
    padding:0pc;
    margin-top:10px;
    margin-right:10px;

}
.info-general-content h3{
    padding:10px;
    background-color: orange;
    margin:0px;
    color:white;
}
.info-c2{
    width:250px;
    max-height:180px;
    background-color: orange;
    padding:0pc;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;

}
.info-c3{
    width:250px;
    max-height:180px;
    background-color: orange;
    padding:0pc;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;

}
.info-general-content p{
    color:white;
    padding:5px;
    margin:0px;
    font-style:normal;
    text-align: justify;
}
.about-row4{
    display: flex;
    margin-left:19%;
    margin-top:20px;
}
.about-row4-col1{
    width:40%;
}
.about-row4-col2 img{
    margin-top:20px;
    margin-left:5px;
    padding:0px;
}
.row5-about{
    display:flex;
    margin-left:19%;
    margin-top:20px;
}
.row5-col1-about{
    width:50%;
}
.row5-col1-about span{
    font-size:16px;
}
.row5-col2-about{
    margin-top:30px;
}
.row5-col2-about button{
    margin-top:20px;
    margin-left:30px;
    background-color: blue;
    padding:10px;
    width:250px;
    color:white;
    border:0px;
}